.cartItem{
    margin: 30px 0;
    height: 400px;
}

.cartItem .buttons{
    /* margin-top: 20px; */
    align-items: center;
}

.cartItem .description{
    height: auto;
}

.cartItem .cartPic{
    max-width: 500px;
    height: 350px;
}

.cartItem .price{
    margin-top: 20px;
    display: flex;
    text-align: right;
}

/* @media screen and (max-with: 400px){
    .body{
        margin: 2px;
        display: flex;
        flex-wrap: wrap;
    }
} */