.cartItem{
    margin: 30px 0;
    height: 300px;
}

.cartItem .buttons{
    /* margin-top: 20px; */
    align-items: center;
}

.cartItem .cartPic{
    max-width: 500px;
    height: 300px;
}

.cartItem .row{
    margin: 8px 100px;
    display: flex;
}
.cartItem .in-col{
    display: block;
    margin: 0 25px;
}
