.mainTitle{
    justify-content: center;
    margin-top: 20px;
    font-family: 'Bombing';
    background-color: white;
    border: 3px solid black;
    color: black;
    width: max-content;
    height: auto;
    padding: 20px;
    border-radius: 50%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainTitle>img{
    width: 60px;
    height: 60px;
}

.subTitle{
    font-family: 'Bombing';
}
.products{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sort{
    font-size: 1.3rem;
}
