.pic{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 300px;
}

.id{
    text-align: right;
}

.name{
    text-align: center;
}

.textArea{
    height: 100px;
    overflow-y: auto;
}

.itemCard{
    font-style: italic;
    color: white;
    margin: 20px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 8px 8px 8px rgb(82, 78, 78);
    background: linear-gradient(to right bottom , rgb(77, 76, 76) , black );
}