.nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav div{
    margin: 0 10px;
    align-items: center;
}

.nav .cart{
    margin-left: 30px;
    font-size: 30px;
}
