.amount{
    width: 70px;
}

.freeText{
    margin-bottom: 10px;
    width: 95%;
}

.row{
    justify-content: center;
    display: grid;
    grid-template-columns: 33%;
}

.addBtn{
    display: block;
}

.col{
    justify-content: space-between;
}

label, input{
    margin: 0 5px;
}