.personalOption:hover{
    background-color: rgb(16, 101, 220);
    color: aliceblue;
    font-weight: bold;
}

.start-position{
    margin-top: 10px;
    align-items: flex-start;
  }

  .leftCol{
    margin-top: 60px;
  }

  .col{
    justify-content: center;
  }